//--------------banner-----------

.about__banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 25px;
  max-width: 1240px;
  height: 223px;
  background-image: url(../../images/landscape.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  padding: 20px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
  }
}

.about__footer {
  width: 100%;
  bottom: 0;
}

$accordion-button-bg: #ff6060;
$accordion-bg: rgb(229, 227, 227);
$accordion-button-active-bg: #ff6060;
$accordion-color: white;
$accordion-button-color: white;
$accordion-button-active-color: white;
$accordion-button-focus-border-color: none;
$accordion-button-focus-box-shadow: none;
$accordion-icon-color: white;
$accordion-icon-active-color: white;
$accordion-icon-width: 30px;
$accordion-border-radius: 10px;
$accordion-inner-border-radius: 10px;
$accordion-icon-transition: transform 0.2s ease-in-out;
$accordion-icon-transform: rotate(180deg);
@import "../../../node_modules/bootstrap/scss/bootstrap";

.about__accordion {
  display: flex;
  flex-direction: column;
  gap: 50px;
  min-height: 500px;
  margin-inline: 260px;
  margin-block: 50px;
  &__header {
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  &__content {
    color: rgb(67, 66, 66);
    &:focus-visible {
      ///////////////////////marche pas
      outline: none; ///////////////////////marche pas
      box-shadow: none; ///////////////////////marche pas
    }
  }
}
