.apparts__main {
  // margin: auto;
}

.apparts__title {
  color: #ff6060;
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 0;
  &__subtitle {
    display: flex;
    flex-direction: column;
  }
  &__and__owner {
    display: flex;
    justify-content: space-around;
  }
}

.apparts__subtitle {
  font-size: 25px;
}

.apparts__image {
  max-width: 1240px;
  width: 100%;
  height: 550px;
  border-radius: 25px;
  object-fit: cover;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.apparts__owner {
  color: #ff6060;
  width: 140px;
  font-size: 30px;
  font-weight: 300;
  &__picture {
    align-self: center;
    width: 80px;
    height: 80px;
    background-color: lightgray;
    border-radius: 50px;
  }
  &__and__rating {
    display: flex;
    flex-direction: column;
  }
  &__rating__stars {
    color: #ff6060;
    &__grey {
      color: lightgray;
    }
  }
  &__tag {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 150px;
    margin-bottom: 40px;
  }
}

.cosy,
.canal,
.paris10 {
  border: 1px solid red;
  border-radius: 25px;
  background-color: #ff6060;
  color: white;
  font-size: 20px;
  width: 100px;
  padding-inline: 20px;
  padding-block: 3px;
}

.collapse1__and__2 {
  display: flex;
  max-width: 1000px;
}

.collapse1,
.collapse2 {
  display: flex;
  &__contentBox {
    position: relative;
    margin: 10px 20px;
  }
  &__label {
    position: relative;
    padding: 10px;
    background-color: #ff6060;
    color: white;
    cursor: pointer;
    &::after {
      position: absolute;
      top: 7px;
      right: 10px;
      //font-family: "Font Awesome 5 Free";
      //content:"\f077";
      content: "⌄";
      transform: translateY(-50%);
    }
  }
  &__content {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 500ms;
    overflow-y: auto;
  }
}

.collapse1__contentBox .active,
.collapse2__contentBox .active {
  height: 150px;
}

ul {
  list-style-type: none;
}
