.error404 {
  display: flex;
  justify-content: center;
  align-items: center;
  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    color: #ff6060;
    font-size: 200px;
    font-weight: 500;
  }
  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff6060;
  }
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-top: 50px;
}
