.cards__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1240px;
  min-width: 320px;
  background-color: #f4f3f3;
  border-radius: 25px;
  margin-inline: auto;
  margin-block: 50px;
}

.app__img {
  max-width: 400px;
  border-radius: 25px;
}

.card a {
  color: white;
  font-size: 30px;
  // text-decoration: none;
  // align-items: end;
  // width: 50%;
}

.card {
  position: relative;
  margin: 20px; // background: linear-gradient(#ff6060, #d56262);
  // width: 340px;
  // height: 340px;
  &__text {
    position: absolute;
    bottom: 5px;
    left: 5px;
  }
}

@media (max-width: 750px) {
  .cards__container {
    background-color: white;
  }
  .card {
    flex-basis: 100%;
  }
}
